{% extends "base.html" %}

{% block content %}
<section class="privacy-policy">
    <h2>Политика конфиденциальности</h2>

    <h3>1. Общие положения</h3>
    <p>Настоящая Политика конфиденциальности определяет порядок обработки и защиты персональных данных, предоставляемых пользователями интернет-магазина бытовой химии (далее — "Магазин"). Мы обязуемся защищать конфиденциальность наших клиентов и гарантируем безопасность их данных в соответствии с действующим законодательством о защите персональных данных.</p>

    <h3>2. Защита персональных данных</h3>
    <p>Мы принимаем все необходимые меры для защиты персональных данных пользователей от неправомерного доступа, изменения, раскрытия или уничтожения. Мы используем современные технологии шифрования и обеспечения безопасности для защиты информации наших клиентов.</p>

    <p>Мы регулярно обновляем системы безопасности, чтобы обеспечить максимальный уровень защиты ваших данных. Однако, как и любая система передачи данных через интернет, абсолютная безопасность не может быть гарантирована.</p>
</section>
{% endblock %}
