{% extends "base.html" %}

{% block content %}
<h2>Корзина</h2>
{% if cart_items %}
    <ul>
        {% for item in cart_items %}
        <li>
            <strong>{{ item.product.name }}</strong><br>
            Цена: {{ item.product.price }}<br>
            Количество: {{ item.quantity }}<br>
            Единица измерения: {{ item.product.unit }}
        </li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'place_order' %}">
        {% csrf_token %}
        <button type="submit">Оформить заказ</button>
    </form>
{% else %}
    <p>Ваша корзина пуста.</p>
{% endif %}
{% endblock %}
