{% extends "base.html" %}

{% block content %}
<h2>Каталог товаров</h2>

<form method="GET">
    <input type="text" name="q" placeholder="Поиск" value="{{ request.GET.q }}">
    <button type="submit">Искать</button>
</form>

<form method="GET">
    <select name="sort_by">
        <option value="name">Имя</option>
        <option value="price">Цена</option>
    </select>
    <button type="submit">Сортировать</button>
</form>

<form method="post" action="{% url 'add_to_cart' %}">
  {% csrf_token %}
  <ul>
      {% for product in products %}
      <li>
          <strong>{{ product.name }}</strong><br>
          Цена: {{ product.price }}<br>
          Единица измерения: {{ product.unit }}<br>
          <input type="checkbox" name="product_ids" value="{{ product.id }}">
      </li>
      {% endfor %}
  </ul>
  <button type="submit">Добавить в корзину</button>
</form>
{% endblock %}

