{% extends "base.html" %}

{% block content %}
<h2>Контакты</h2>
<ul class="contacts-list">
    {% for contact in contacts_list %}
    <li class="contact-item">
        {% if contact.photo %}
        <img src="{{ contact.photo.url }}" alt="{{ contact.first_name }}" class="contact-photo">
        {% endif %}
        <div class="contact-info">
            <h3>{{ contact.first_name }} {{ contact.last_name }}</h3>
            <p>Должность: {{ contact.position }}</p>
            <p>Телефон: {{ contact.contact_info }}</p>
            <p>Возраст: {{ contact.age }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
